@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap");
#navbar {
  box-shadow: 10px 3px 30px #202020;
  background-color: rgba(215, 181, 247, 0.4);
  position: fixed;
  z-index: 2;
  width: 100vw; }
  #navbar .logo {
    font-family: 'Dancing Script', cursive;
    color: rgba(92, 40, 92, 0.9);
    font-size: 3em;
    text-shadow: 2px 1px 30px #332c30; }
  #navbar #boton {
    padding-right: 40px;
    color: #00080f; }
    #navbar #boton:hover {
      color: #dee1e4;
      font-size: 1.3em; }

#footer {
  background-color: rgba(215, 181, 247, 0.4);
  box-shadow: 3px 3px 35px #202020; }
  #footer .ubicacion {
    box-shadow: 3px 3px 15px #202020; }

@media screen and (max-width: 1262px) {
  h2 {
    display: none; } }

@media screen and (max-width: 1097px) {
  #main-section-div {
    width: 100vw; }
  #aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }

@media screen and (max-width: 992px) {
  .ubicacion {
    display: none; } }

body main h3 {
  font-family: "Dancing Script", cursive;
  font-size: xxx-large;
  color: rgba(92, 40, 92, 0.9);
  position: relative;
  animation: h3 4s forwards;
  text-shadow: 2px 1px 30px #332c30;
  margin: 10px; }

body main #tienda-div {
  box-shadow: 10px 3px 30px #202020;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  text-align: center; }
  body main #tienda-div:hover {
    transform: scale(1.2);
    transition: all .5s; }

body #main-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body main h3 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  color: rgba(92, 40, 92, 0.9);
  position: relative;
  animation: h3 4s forwards;
  text-shadow: 2px 1px 30px #332c30;
  margin: 10px;
  padding-bottom: 10px; }

.main-contact {
  display: flex;
  justify-content: center;
  align-items: center; }

body main h3 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  color: rgba(92, 40, 92, 0.9);
  position: relative;
  animation: h3 4s forwards;
  text-shadow: 2px 1px 30px #332c30;
  margin: 10px;
  padding-bottom: 10px; }

.main-div {
  background-color: rgba(215, 181, 247, 0.4);
  border-radius: 3%;
  width: 40%;
  box-shadow: 10px 3px 30px #202020; }
  .main-div:hover {
    transform: scale(1.05);
    transition: all .4s; }

body #main-dist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body #distribuidor {
  display: flex;
  max-width: 600px;
  box-shadow: 10px 3px 30px #202020;
  border-radius: 3%;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif; }
  body #distribuidor:hover {
    transform: scale(1.05);
    transition: all .4s; }

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

#body {
  background-image: url(../img/fondo.png);
  background-attachment: fixed;
  margin: 0; }
  #body .card {
    background-color: rgba(245, 245, 245, 0.2); }
  #body .card-header, #body .card-footer {
    opacity: 1.2; }
  #body .carousel {
    box-shadow: 10px 3px 30px #202020; }
  #body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    width: 100vw;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 1px 30px #332c30;
    margin-top: 10px;
    color: rgba(92, 40, 92, 0.9);
    animation: biovana 4s forwards; }
  #body section #main-section-div {
    box-shadow: 2px 1px 30px #332c30;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    #body section #main-section-div:hover {
      transform: scale(1.03);
      transition: all .5s; }
  #body h5 #titulo {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 1em;
    padding-bottom: 15px;
    text-align: center; }
  #body p #text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2vh;
    text-align: center; }
  #body #aside {
    display: inline-block;
    position: relative;
    bottom: 40px;
    margin-left: 30px; }
  #body #aside-div2 {
    box-shadow: 3px 3px 15px #202020; }
    #body #aside-div2:hover {
      transform: scale(1.05);
      transition: all .5s; }
