@media screen and (max-width: 1262px){
    h2{
        display: none;
        }
            }
@media screen and (max-width: 1097px){
    #main-section-div{
        width: 100vw;
        }
    #aside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    }
@media screen and (max-width: 992px){
.ubicacion{
    display: none;
    }
    }