@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

// font
$mainFont:'Dancing Script', cursive;
$secondaryFont:sans-serif,'Segoe UI', Tahoma, Verdana, ;

//text sizing
$textXs:0.5em;
$textSm:0.6em;
$textSm2:.8em;
$textMd:1em;
$textMd2:1.2em;
$textMd3:1.4em;
$textMd4:1.7em;
$textLg:2em;
$textLg2:2.5em;
$textXl:3em;

//weight
$bold:600;
$regular:400;
$light:300;