@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

// font
$mainFont:'Dancing Script', cursive;
$secondaryFont:'Segoe UI', Tahoma, Verdana, sans-serif;

//text sizing
$textSm:.8em;
$textMd:1em;
$textMd2:1.3em;
$textLg:2em;
$textXl:3em;

//weight
$bold:600;
$regular:400;
$light:300;