

#navbar{
    box-shadow:$shadow3;
    background-color:$mainColor; 
    width: 100vw;
    z-index: 1;
    .logo{
        font-family: 'Dancing Script', cursive;
        color:$secondaryColor;
        font-size:$textLg2;

    }
    #boton{  
        padding-right: 40px;
        color:$black;
        &:hover{
            color: $secondaryColor;
            transform: scale(1.3);
            transition: all .4s;
        }
    }
}