

#navbar{
    box-shadow:$shadow3;
    background-color: $mainColor; 
    position: fixed;
    z-index: 2;
    width: 100vw;
    .logo{
        font-family: 'Dancing Script', cursive;
        color:$secondaryColor;
        font-size:$textXl;
        text-shadow: $shadow2;
        }
    #boton{  
        padding-right: 40px;
        color:$black;
        &:hover{
            color:  $white;
            font-size:  $textMd2;
        }
    }
}