

// variables globales - mapa de colores


$mainColor:#d7b5f7b3;
$secondaryColor:#5c285ce6;
$secondaryColor2:#5c285c;
$tercerColor:#381938;
$white:#dee1e4;
$black: #00080f;
$shadow:3px 3px 15px rgb(32, 32, 32);
$shadow2:2px 1px 30px rgb(51, 44, 48);
$shadow3:10px 3px 30px  rgb(32, 32, 32);
$bgColor:rgba(245, 245, 245, 0.2)