// variables globales
$mainColor:rgba(215, 181, 247, .4);
$secondaryColor:rgba(92, 40, 92, .9);
$white:rgb(222, 225, 228);
$black: rgb(0, 8, 15);
$shadow:3px 3px 15px rgb(32, 32, 32);
$shadow2:2px 1px 30px rgb(51, 44, 48);
$shadow3:10px 3px 30px  rgb(32, 32, 32);