.main-contact{
    @include d-flex(center,center);
    .main-div{
        background-color: $mainColor;
        border-radius: 3%;
        box-shadow:$shadow3;
        &:hover{
            transform: scale(1.04);
            transition: all .4s;
        }
        .btn{
            background-color:$mainColor;
            color:$black;
            border-color: $tercerColor;
            &:hover{
                background-color: $tercerColor;
                color:$white;
                border-color:$mainColor;
            }
        }
    }
}