body main h3{
    font-family:$mainFont; 
    font-size:xxx-large;
    color: $secondaryColor;
    position: relative;
    animation: h3 4s forwards;
    text-shadow: $shadow2;
    margin: 10px;

}
body main #tienda-div{
    box-shadow:$shadow3;
    cursor: pointer;
    font-family: $secondaryFont;
    text-align: center;
    &:hover{
        transform: scale(1.2);
        transition: all .5s;
    }
}